*{
	color: black;
	font-size: 12px;
	background-color: #CAD7DB;
}

#title
{
	padding: 1em;
	color: #27AAD6;
	background-color: #E8D9DF;
	text-align: center;
	border: solid;
	font-size: 50px;
}

#canvas
{
	width: 400px;
	height: 400px;
}

body
{
	background-color: lightgrey;
	margin: auto;
	overflow: hidden;
}

canvas
{
	height: 100%;
	background-color: white;
	font-family: "Arial";
	font-size: 2em;
}

textarea
{
	float: right;
}