body{
	background-color: #B0C0D0;
	margin: 0;
    padding: 5em;
	font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}


h1{
	font-family: 'Oswald', sans-serif;
	font-size: 4.0em;
}

h2{
	font-family: 'Oswald', sans-serif;
	font-size: 2.0em;
}

p{
	font-family: 'Open Sans', sans-serif;
}


